:root {
    --vanilla: #F3E5AB;
    --carbon: #232323;
}

body {
    margin: 10px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: var(--vanilla);
}

h1 b {
    font-weight: 400;
}

.content {
    max-width: 1200px;
    margin: auto;
}

textarea {
    resize: none;
}

.half {
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    gap: 10px;
}

.col {
    padding: 0px;
}

.col textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 3px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.middle>div {
    width: 60px;
    height: 60px;
    display: inline-block;
}

#samples {
    display: flex;
    gap: 5px;
}

.js_area_cont {
    width: 100%;
    position: relative;
    /* Temporary */
    display: inline-block;
}

.js_area_cont textarea {
    box-sizing: border-box;
}

.js_area_cont button {
    position: absolute;
    top: 3px;
    right: 3px;
}

.arrow {
    fill: black;
}

@media screen and (max-width: 700px) {
    .half {
        grid-template-columns: 1fr;
    }

    .middle {
        display: none;
    }
}